.container {
  display: flex;
  align-items: center;
  flex-direction: column;

  app-exchange-now,
  .show-last-prices,
  app-exchange-lasts {
    width: 100%;
  }

  .show-last-prices {
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding-bottom: 1rem;

    &.border-bottom {
      border-bottom: 2px solid #07B0FB;
    }

    strong {
      font-size: 1rem;
      font-weight: 600;
      line-height: 1.5rem;
      letter-spacing: 0px;
      text-align: left;
    }
  }
}
