.container {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 1rem;

  max-height: 325px;
  overflow-y: scroll;

  padding: .625rem;
  background-color: #F4F4F4;

  scrollbar-color: #07B0FB white;
  scrollbar-width: thin;
  scrollbar-track-color: white;
  scrollbar-thumb-color: #07B0FB;

  ::-webkit-scrollbar {
    width: 12px;
  }

  ::-webkit-scrollbar-thumb {
    background-color: #07B0FB;
  }

  .card {
    width: 100%;

    padding: 1rem;

    background: #FFF;

    text-align: left;

    .date {
      color: #07B0FB;

      font-size: .875rem;
      font-weight: 600;
      line-height: 1.375rem;
      letter-spacing: 0px;
    }

    .daily-values {
      display: flex;
      align-items: center;
      justify-content: space-between;

      .column {
        display: flex;
        flex-direction: column;

        label {
          display: flex;
          align-items: center;
          justify-content: space-between;

          width: 7.5rem;
        }
      }
    }

    .daily-values .column label,
    .diff label {
      font-size: 11px;
      font-weight: 500;
      line-height: 14px;
      letter-spacing: 0px;
      text-align: left;

      span {
        font-size: 1rem;
        font-weight: 600;
        line-height: 1.5rem;
        text-align: left;
      }
    }

    .diff label {
      span.positive {
        color: #69C669;
      }

      span.negative {
        color: #E54E4E;
      }
    }
  }

}
