<div class="container">
  <app-header></app-header>

  <div class="content">
    <form [formGroup]="form" (submit)="handleSearch()">
      <app-input [form]="form" (keydown.enter)="handleSearch()"></app-input>

      <app-button [disabled]="form.invalid || isLoading"></app-button>
    </form>

    <app-list
      *ngIf="!isLoading"
      [currentExchange]="currentExchange"
      [exchangeList]="exchangeList"
    ></app-list>

    <ng-container class="spinner" *ngIf="isLoading">
      <mat-spinner></mat-spinner>
    </ng-container>
  </div>

  <app-footer></app-footer>
</div>
