<div class="container">
  <app-header></app-header>

  <div class="content">
    <app-input [form]="form"></app-input>

    <app-button
      [disabled]="form.invalid"
      (eventSearch)="handleSearch()"
    ></app-button>

    <app-list
      *ngIf="!isLoading"
      [currentExchange]="currentExchange"
      [exchangeList]="exchangeList"
    ></app-list>

    <ng-container class="spinner" *ngIf="isLoading">
      <mat-spinner></mat-spinner>
    </ng-container>
  </div>

  <app-footer></app-footer>
</div>
