.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  width: 100%;

  padding: .5rem 1rem;

  app-header,
  app-input,
  app-button {
    width: 100%;
  }

  app-input,
  app-button {
    margin-top: 2rem;
  }
}
